<!-- profileを示す画像 -->
<body>
 <p class="myname">制作者　-Profile-</p>
 <div class="profile_exlsv">
   
    <div class="profile_detail"></div>
 </div>
 <footer class="profile_return">
   <%= link_to 'ホームページに戻る',aecsites_path, class: 'linkp' %>
 </footer>
</body>