<!-- ここは電子情報工学科の科目を紹介するファイル -->
<html>
 <body>
   <p class="tlHome"> 共通教養科目 </p>
   ようこそ！
  <footer class="homep_return">
   <%= link_to 'ホームページに戻る',aecsites_path, class: 'link' %>
  </footer>
 </body>
<html>