<!-- ここは大学生活を紹介するファイル　-->
<html>
  <body>
    <p class="commonHome"> 共通教養科目 </p>
    ようこそ！！
   <footer class="homep_return">
    <%= link_to 'ホームページに戻る',aecsites_path, class: 'link' %>
   </footer>
  </body>
</html>