<!-- ここは大学科目の詳細を示す部分 --><!-- 仮のファイルまだ未定 -->
<html>
 <body>
    <p class="ulHome"> 共通教養科目 </p>
    ようこそ！！
   <footer class="homep_return">
    <%= link_to 'ホームページに戻る',aecsites_path, class: 'link' %>
   </footer>
 </body>
</html>