// Place all the styles related to the aecsites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* Easy Courceの部分 */
.Home_theme{
    text-align: center;
    color: #AAFFFF;
    
    font-size: 90px; // これは文字の大きさを調整するもの
    background-repeat: no-repeat;
    
    background-color: gray; //テスト用
    
    margin: 0%;
}
/* 福岡大學とログイン/ログアウトの部分　*/
.Home_ul{
    
    /*text-align: right;*/

    font-size: 22px;
    color: #8B0000;
}
/* ログイン/ログアウトの部分 */
.login{
    text-align: left;
    padding: 10px;
}
/* ログイン/ログアウトのボタンの部分 */
.button1{
    background: linear-gradient(to right, #00bfff 0%, #7fffd4 45%, #fffacd 100%);
    background-size: 200% auto;
    color: #fff;
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1em;
    transition: .5s;
}
.button1:hover{
    color: #fff;
    background-position: right center;
}

/* 福岡大學の部分 */
.home_u{
    text-align: right;
}


/* 科目の部分(最背景の部分) */
.cource{
    height: 600px;
    width: 100%;
    background-image: url();
    /*background-color: darkcyan;//テスト用*/
    background-image: url('university_cource.jpeg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;//背景画像が画面いっぱいに表示され、縦横比も維持するためのコード
    background-position: center;

}
/* 科目の部分(前背景の部分) */
.cource p{
    background-color: gray;
    border-radius: 20%;//背景色の角を丸めるためのコード
    left: 9%;
    top: 4%;
    font-size: 50px;//文字のサイズを調整するためのコード
    font-family: cursive;//文字の種類を決めるためのコード
    color: white;
    position: absolute;
}

/* 科目の部分(前背景の部分かつ3つの科目を表示する部分) */
.courcelist{
    position: absolute;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border-radius: 9%;
    top: 63%;
    left: 50%;
    width: 100%;
    height: 84%; //　3つの背景画像が全体に映るようにするために調整したもの
    transform: translate(-50%, -50%);
    z-index: 2; // テキストと同じレベルで表示するためのコード
}
/* 共通教育科目の背景画像の部分 */
.common{
    aspect-ratio: 25/12;/* これはright: n%;を加えると連動する*/
    background-image: url('courcelist_common.png');
    margin: 6%;
    position: relative; //クラスcommoncの位置を調整するための親要素を書くためのコード
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 9%;
    //font-size: 95%;
    z-index: 3; //背景レイヤーの上に表示するためのコード //*この数値の値が大きいほど前にくるように

    /* 使わないコード */
    /*top: 66.5%;*//*後で元に戻す*/
    /*right: 6.4%;*/ /*これを設定するとbackground-colorのサイズがデカくなる*/
    /*left: 13.4%;*/
}
/* 共通教育科目の文字の部分 */
.courcelist .commonc{
    position: absolute; //クラスtlを親要素とする時、tlのdivの中だけ位置を調整するために子要素として定めるコード
    
    width: 100%;
    //margin-top: 185.8%; // これだとサイズを変更するごとに位置がズレるので良くない
    //margin-bottom: 185.8%; // これだとサイズを変更するごとに位置がズレるので良くない
    top: 72.5%; // これにposition: absolute;を併用することでサイズが変わっても位置がずれないようにするためにtopで微調整する
    background-color: antiquewhite;
    //font-size: smaller;
    text-align: center;
    //align-items: flex-end;
    //text-align: center;
}

/* 工学科共通科目の背景画像の部分 */
.commontech{
    aspect-ratio: 25/12;
    background-image: url('courcelist_commontech.png');
    margin: 6%;
    position: relative; //クラスcommontechcの位置を調整するための親要素を書くためのコード
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 9%;
    //font-size: 95%;
    z-index: 3;

    /* 使わないコード*/
    /*left: 45.8% */
    /*top: 66.8%*/
}
/* 工学科共通科目の文字の部分 */
.commontech .commontechc{
    position: absolute; //クラスtlを親要素とする時、tlのdivの中だけ位置を調整するために子要素として定めるコード
    //margin-top: 185.8%; // これだとサイズを変更するごとに位置がズレるので良くない
    //margin-bottom: 185.8%; // これだとサイズを変更するごとに位置がズレるので良くない
    top: 72.5%; // これにposition: absolute;を併用することでサイズが変わっても位置がずれないようにするためにtopで微調整する
    background-color: #aeecec;
    /* height: 150%; */
    width: 100%;
    text-align: center;

}

/* 電子情報工学科の背景画像の部分 */
.tl{
    aspect-ratio: 25/12; 
    background-image: url('courcelist_tl.png');
    position: relative; //クラスtlcの位置を調整するための親要素を書くためのコード
    margin: 6%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 9%;
    //font-size: 95%;
    z-index: 3;


    /* 使わないコード */
    /*right: 5.3%;*/ /*これを設定するとbackground-colorのサイズがデカくなる*/
    /*left: 76.4%;*/
    /*top: 66.5%;*/
}
/* 電子情報工学科の文字の部分 */
.tlc{
    position: absolute; //クラスtlを親要素とする時、tlのdivの中だけ位置を調整するために子要素として定めるコード
    //margin-top: 185.8%; // これだとサイズを変更するごとに位置がズレるので良くない
    //margin-bottom: 185.8%; // これだとサイズを変更するごとに位置がズレるので良くない
    top: 72.5%; // これにposition: absolute;を併用することでサイズが変わっても位置がずれないようにするためにtopで微調整する
    background-color: rgb(177, 172, 172);
    width: 100%;
    text-align: center;
    /* 使わないコード */
    /*justify-content: center;*/
    /* height: 150%; */
}




/* 最背景を明るく薄めるためのレイヤーを追加 */
.cource::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.562); //背景を明るく薄めるためのコード
    z-index: 1;//オーバーレイが背景画像の上に表示されるようにするためのコード、画面を一番後ろに表示するためにz-indexの値を1にした。
    //background-color: rgba(255, 255, 255, 0.562); z-index: 1; この二つで一番後ろの画像を明るく薄めるために使うコード
}
/* コンテンツのスタイル */
.cource.content {
    position: relative;
    z-index: 3; //背景の上に表示するために z-index を設定するためのコード
}


/* 生活の部分(最背景の部分) */
.lifestyle{
    height: 730px;
    width: 100%;
    background-image: url('university_life.jpeg');
    position: relative; //親要素を設定する時に使うコード
    //background-image: rgba(255, 255, 255, 0.562);//背景を明るく薄めるためのコード
    background-repeat: no-repeat;
    background-size: cover;//背景画像が画面いっぱいに表示され、縦横比も維持するためのコード
    background-position: center;

    //使わないコード
    /*
          //object-fit: cover;
          //background-color: springgreen;//テスト用
          //background-color: rgba(0, 0, 255, 0.219);//背景を暗めに薄くするためのコード
          //display: inline-flex;//背景画像の上に文字や画像などを乗せたい時に使うコード
    */
}
/* 生活の部分(前背景の部分) */
.lifestyle p{
    position: absolute;//子要素を設定する時に使うコード
    background-color: #FF97C2;
    border-radius: 20%;//背景色の角を丸めるためのコード
    left: 9%;
    top: 4%;
    font-size: 50px;//文字のサイズを調整するためのコード
    font-family: cursive;//文字の種類を決めるためのコード
    color: white;
    z-index: 2;//テキストを背景レイヤーの上に表示するためのコード
    
}
/* 二つ目の背景画像 */
.universitystyle{
    position: absolute;
    aspect-ratio: 25/10;
    background-image: url('university_style.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 9%;
    top: 63%;
    left: 50%;
    width: 22%;
    height: 60%;
    transform: translate(-50%, -50%);
    z-index: 2; // テキストと同じレベルで表示するためのコード
    
    /* Flexbox to center the button inside */
    /*display: flex;*/
    /*justify-content: center;*/ /* Center horizontally */
    /*align-items: center;*/ /* Center vertically */
}
/* 大学生活のボタンの部分 */
/*.universitystyle p*/ //これだと<p>タグ全部に反映されるので個別に細かく調整する場合はこの書き方はオススメしない
.universitystyle .universitysylec {
    position: absolute;
    width: 100%;
    top: 72.5%; // 
    //margin-top: 185.8%; // これだとサイズを変更するごとに位置がズレるので良くない
    //margin-bottom: 285.8%; // これだとサイズを変更するごとに位置がズレるので良くない
    //height: auto;
    //left: 36.7%;
    //top: 66.5%;
    //margin: 0;
    //padding: 5px 5px;
    
    //justify-content: center;
    text-align: center;
    //justify-content: center;
    //align-items: center;
    //color: aliceblue;
    background-color: rgb(232, 152, 180);
    //font-size: 95%;
    z-index: 3;//背景レイヤーの上に表示するためのコード
    
}
/* 背景を明るく薄めるためのレイヤーを追加 */
.lifestyle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.562); //背景を明るく薄めるためのコード
    z-index: 1;//オーバーレイが背景画像の上に表示されるようにするためのコード
}
/* コンテンツのスタイル */
.lifestyle .content {
    position: relative;
    z-index: 3; //背景の上に表示するために z-index を設定するためのコード
}



/* Profileの部分　*/
.profile{
    height: 600px;
    /* display: flexとalign-item: centerとjustify-content: centerの3つの設定によって箱の中の要素全体を中央の位置にできる */
    display: flex;
    align-items: center;
    justify-content: center; // これは文字を真ん中にするためのコード
    font-size: 32px;
    font-weight: 30; // これは文字の太さを表示するもの
    background-image: url("profile_produce.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: bisque;*///テスト用
    position: relative;
    
}

/* Profileの文字の部分(前背景)*/
.profile p{
    position: absolute;
    background-color: #FAF0E6; /* 肌色 */
    border-radius: 20%;
    left: 9%;
    top: 4%;
    font-size: 50px;
    font-family: cursive;
    color: rgb(11, 10, 10);
    z-index: 2;
}

/* 二つ目の背景画像 */
.profiledetail{
    position: absolute;
    aspect-ratio: 25/10;
    background-image: url('profile_display.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 9%;
    top: 63%;
    left: 50%;
    width: 22%;
    height: 60%;
    transform: translate(-50%, -50%);
    z-index: 2;
    
}

/* 制作者のボタンの部分 */
.profiledetail .profiledetailc{
     position: absolute;
     /*left: 36.7%;*/
     width: 100%;
     top: 72.5%;
     text-align: center;
     /*color: aliceblue;*/
     background-color: rgb(238, 215, 172);
     font-size: 55%;
     z-index: 3;

}
/* 背景を明るく薄めるためのレイヤーを追加 */
.profile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.562); //背景を明るく薄めるためのコード
    z-index: 1;//オーバーレイが背景画像の上に表示されるようにするためのコード
}
/* コンテンツのスタイル */
.profile .content {
    position: relative;
    z-index: 3; //背景の上に表示するために z-index を設定するためのコード
}


/* プロフィールのスタイル */

/*　後日編集　*/

/**/

/**/


/* コード性質 */
/* サイズが変わっても位置がずれない方法 */
/*
    <div class="a">
      <div class="b">よろしく！！</div>
    </div>
  
    .a{
       position: relative;
    }
    .a .b{
       position: absolute;
       top: x%;
    この組み合わせで画面のサイズを変えても位置がクラスbに格納している文字や画像などは変わらない
*/

/* 以下のコードはそれぞれのファイルのデザインを編集するためのコード */


/* 共通教養科目ディレクトリを編集するコード */
.commonHome{
    font-size: 90px;
    text-align: center;
    background-color: #e55112;
    color:rgb(248, 250, 114);
    margin: 0%;
}

/* 工学科共通科目ディレクトリを編集するコード */
.tchHome{
    font-size: 90px;
    text-align: center;
    background-color: #5e5959;
    color:rgb(169, 240, 237);
    margin: 0%;
}

/* 電子情報工学科ディレクトリを編集するコード */
.tlHome{
    font-size: 90px;
    text-align: center;
    background-color: #151414;
    color:rgb(212, 212, 213);
    margin: 0%;
}

/* 大学生活ディレクトリを編集するコード */
.ulHome{
    font-size: 90px;
    text-align: center;
    background-color: #f9eff8;
    color:rgb(243, 99, 204);
    margin: 0%;
}



/* 投稿サイトのフロントデザインを編集するコード */

/* Welcomeの部分を編集するコード */
.headstyle{
    text-align: center;
    object-fit: contain;
    margin: 7.529%;
}
/* Welcomeの文字を編集するコード */
.headchar{
    font-size: 100px;
    //(没)box-sizing: 999px;
    font-weight: 900;
    //width: 100%;
}

/* 投稿の枠組み */
.informationlist{
     margin: 138px;
     color: #5d627b;
     background: white;
     border-top: solid 6px #5d627d;
     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22); /* borderに影をつけるためのコード */
     border-radius: 11.5px;
}

/* 投稿するボタンデザイン */
.postb{
    margin: 11%;
    padding: 10px;
    text-align: center;
    border-bottom: solid 5px rgb(235, 66, 151);
}

/* 講義・教授 */
.shorttext{
    color:rgb(6, 1, 1);
    font-weight: lighter;
      
}

/* 成績内容・実録 */
.longtext{
    font-weight: bold;
    color:rgb(6, 1, 1);
    border-bottom: solid 4px rgb(12, 11, 13); /* 枠組みに影をつけるためのコード */

}


/* 投稿サイトの削除ボタンデザイン */
.deleteb{
    text-align: center;
    border-bottom: solid 5px rgb(32, 158, 183);
}



/* ホームページに戻るを編集するコード(profileディレクトリ以外) */
.homep_return{
    height: 50px;
    font-size: 22px;
    font-weight: 30;
    background-color: rgb(137, 42, 42);//テスト用
}
/* link_toの文字の色を編集するためのコード */
/* それぞれの画面に行くボタン */
.golink{
    text-decoration: none!important;/* 下線を削除 */
    color: rgb(9, 10, 13)!important;
}
/* linkボタンに触れた時のlinkボタンを編集するためのコード */
.golink:hover{
    color: rgb(119, 172, 221)!important; /* ホバー時に色を黒に変更 */
    text-decoration: underline !important; /* ホバー時に下線を表示 */
}
/* link_toの文字の色を編集するためのコード */
/* ホーム画面に戻るボタン */
.link{
    text-decoration: none;/* 下線を削除 */
    color: rgb(248, 245, 248);
}
/* linkボタンに触れた時のlinkボタンを編集するためのコード */
.link:hover{
    color: rgb(1, 0, 0); /* ホバー時に色を黒に変更 */
    text-decoration: underline; /* ホバー時に下線を表示 */
}

/* profileディレクトリを編集するコード(仮) */
/*
.ulfHome{
    font-size: 90px;
    text-align: center;
    background-color: #f9eff8;
    color:rgb(238, 216, 164);
    margin: 0%;
}
*/

















