/* Profile画面をデザインするためのファイル　*/
/* Profile全体の部分 */
.profile_exlsv{
    font-size: 500px;
    
}
/* Profileの文字の部分 */
.myname{
    font-size: 35px;
    text-align: center;
    margin: 0%;
    background-color: burlywood;//テスト用
}
/* ホームページに戻る部分 */
.profile_return{
    height: 50px;
    font-size: 22px;
    font-weight: 30;
    background-color: blanchedalmond;//テスト用

}