// Place all the styles related to the universitylives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 1~4年のリンク先を案内するサイトの編集部分

.grade1{
    //background-color: red;
    //background-image: url('');

    /****** 重要 *******/
    background: url('grade1.jpeg') center/cover no-repeat, rgba(255, 255, 255, 0.5); 
     //上のコードの役割
      /*背景画像のセッティング*/
      /*可変サイズでも背景画像が真ん中に位置し、cover性質も機能する*/
      /*背景画像を明るい透明画像にする*/
    background-blend-mode: lighten; /* 背景画面の薄さを明るくする */
    //background-size: cover;
    //(没)background-color: rgba(255,255,255,0.562);//背景画像を薄くするためのコード
    z-index: 1;
    text-align: center;
    border: 0.5px solid #555;
    /*height: 40px;*/
    /*justify-content: space-between;*/
    /*padding: 13px;*/
    margin: 47.3px;
    height: 323.8px;

    /* Firstの文字の大きさや位置を調整 */
    font-size: 30.1px; 

}
/* ボタンに触れる時、ボタンの大きさが変化させるアニメーションをつけるためのコード */
.grade1:hover{
    transform: scale(1.3,1.3); //ここに触れると、サイズが拡大するコード

    /* Firstの文字の大きさや位置を調整 */
    color: rgb(247, 132, 188)
}
.grade2{
    //background-color: aqua;
    //background-image: url('grade2.jpeg');
    background: url('grade2.jpeg') center/cover no-repeat, rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten; /* 背景画面の薄さを明るくする */
    //background-size: cover;
    //(没)background-color: rgba(255,255,255,0.562);//背景画像を薄くするためのコード
    z-index: 1;

    text-align: center;
    border: 0.5px solid #555;
    /*height: 40px;*/
    /*justify-content: space-between;*/
    /*padding: 13px;*/
    margin: 47.3px;
    height: 323.8px;

    /* Secondの文字の大きさや位置を調整 */
    font-size: 30.1px;
}
.grade2:hover{
    transform: scale(1.3,1.3);

    /* Secondの文字の大きさや位置を調整 */
    color: rgb(247, 132, 188)
    
}
.grade3{
    //background-color: cadetblue;
    //background-image: url('grade3.jpeg');
    background: url('grade3.jpeg') center/cover no-repeat, rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten; /* 背景画面の薄さを明るくする */
    //(没)background-size: cover;
    //(没)background-color: rgba(255,255,255,0.562);//背景画像を薄くするためのコード
    z-index: 1;

    text-align: center;
    border: 0.5px solid #555;
    /*height: 40px;*/
    /*justify-content: space-between;*/
    /*padding: 13px;*/
    margin: 47.3px;
    height: 323.8px;

    /* Thirdの文字の大きさや位置を調整 */
    font-size: 30.1px;
}
.grade3:hover{
    transform: scale(1.3,1.3);

    /* Thirdの文字の大きさや位置を調整 */
    color: rgb(247, 132, 188)

}
.grade4{
    //background-color: chocolate;
    //background-image: url('grade4.jpeg');
    background: url('grade4.jpeg') center/cover no-repeat, rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten; /* 背景画面の薄さを明るくする */
    //(没)background-size: cover;
    //(没)background-color: rgba(255,255,255,0.562);//背景画像を薄くするためのコード
    z-index: 1;

    text-align: center;
    border: 0.5px solid #555;
    /*height: 40px;*/
    /*justify-content: space-between;*/
    /*padding: 13px;*/
    margin: 47.3px;
    height: 323.8px;

    /* Fourthの文字の大きさや位置を調整 */
    font-size: 30.1px;
}
.grade4:hover{
    transform: scale(1.3,1.3);

    /* Fourthの文字の大きさや位置を調整 */
    color: rgb(247, 132, 188)
}
/* 学年全体の枠組みを編集する部分 */
.gradeall{
    display: grid;
    grid-template-columns: 1fr 1fr; /*2カラムのレイアウトを作るためのコード*/
    padding: 107px;
    height: 859px;
    /*justify-content: space-between;*/
}   

/* 内容を投稿するサイトを編集する部分 */
.postunilf{
    text-align: center;
    font-size: 30.1px;
    height: 124.9px;
    width: 100%;
}


// 1~4年サイトを編集する部分
/* 背景全体を編集する部分 */
#ULsite{
    //background-color: #e993d2;
    background-color: #eda2d9;
    //background-color: #f9eff8;
    padding: 100px 100px 62px 100px; //天 左 底 右
    
}
/* 検索を絞る部分の枠組みを編集する部分 */
#narrowedown{
    //max-width: 800px;
    //height: auto;
    margin: 0 30px 0 30px;

    background-color: rgb(238, 238, 238);
    //background-color: rgb(130, 254, 212);

    //ulHomeから抜粋
    //color:rgb(243, 99, 204);
    //background-color: #f9eff8;


}
/* 検索を絞る部分を編集する部分 */
.narrowedowns{
    padding: 15px 0 0 0;
    text-align: center;
}
/* 検索するボタンの外枠を編集する部分 */
.narrowedownb{
    padding-top: 10px;
    padding-bottom: 8.2px;
    text-align: center;

}
/* 検索するボタンを編集する部分 */
.search{
    background: linear-gradient(to right, #ff008c 0%, #ff7ff6 45%, #eecdff 100%);
    //background: linear-gradient(to right, #ff008c 0%, #ff7ff6 45%, #e6cdff 100%);
    background-size: 200% auto;
    color: #fff;
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1em;
    transition: .5s;
}


/* 投稿する内容の外枠を編集するコード */
#postU{
    padding: 74px;
    //(没)padding: 32px 0 79px 68px;

    //border:5px bold #302d2d;
    
    //(没)z-index: 3;
}
/* 投稿する内容の内枠を編集するコード */
#postU #postlist{
    border:5px bold #302d2d; //cannot 実行

    max-width: 800px;
    margin: 0 auto;
    padding: 47px;

    background-color: rgb(238, 238, 238);
    //background-color: #63ce4b;
    //(没)z-index: 2;
}
/* 該当する投稿は見つかりませんでしたを編集する部分 */
#cannotfind{
    margin: 57px;

    text-align: center;
    
}


/* 学業・バイト・サークル・日常生活・インターンの部分を編集するコード */
.items{
    margin: 22px; //それぞれの項目とのスペースを開けるためのコード
}
#postlist .itemdisplay{
    //background-attachment: fixed;
    background-color: #9b9696;
    color: rgb(235, 235, 235);
    text-align: center;
    //(没)z-index: 1;
}
/* 削除ボタンの部分を編集するコード */
.deleteb{
    margin: 18.2px 0 0 0;
    text-align: center;

}

// 1年サイトを編集する部分


// 2年サイトを編集する部分


// 3年サイトを編集する部分


// 4年サイトを編集する部分



